body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 500px;
  height: 500px;
  padding: 30px;
  border: 10px solid red;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid grey;
}

.column {
  height: 100%;
  width: 100%;
}

.cell {
  height: 10%;
  border: 1px solid grey;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: red;
}

.miss {
  background-color: yellow;
}

.open {
  cursor: pointer;
}

.open:hover {
  background-color: #eee;
}