@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
}

.ships-wrapper {
  width: 200px;
  flex: 1;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.ships-wrapper:last-of-type {
  margin: 0 0 0 25px;
  justify-content: center;
}

.ships {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
}

.ships.vertical {
  flex-direction: row;
}

.ships.horizontal {
  flex-direction: column;
  justify-content: center;
}

.ships.scoreboard {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ships .ship {
  display: flex;
}

.ships .ship.horizontal {
  margin-bottom: 15px;
  flex-direction: row;
}

.ships.scoreboard .ship.horizontal {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.ships .ship.vertical {
  margin-right: 15px;
  flex-direction: column;
}

.ships .ship.sunk .block {
  background-color: red;
}

.block {
  width: 34px;
  height: 34px;
  background-color: cornflowerblue;
  margin: 1px;
}

.buttons {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.buttons button {
  width: 53px;
  height: 53px;
  border: none;
  background-color: #eee;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.buttons button:hover {
  background-color: #e1e1e1;
}

.board-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 400px;
  width: 400px;
  padding: 19px 20px;
  border: 10px solid red;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board:first-of-type {
  margin-right: 25px;
}

.column {
  height: 100%;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.column:first-child {
  border-left: 1px solid grey;
  width: calc(100% + 1px);
  margin-left: -1px;
}

.column:last-child {
  border-right: 1px solid grey;
  width: calc(100% + 1px);
  margin-right: 1px;
}

.cell {
  height: 10%;
  border: 1px solid grey;
}

.cell.carrier {
  background-color: blue;
}

.cell.battleship {
  background-color: mediumaquamarine;
}

.cell.destroyer {
  background-color: mediumslateblue;
}

.cell.submarine {
  background-color: mediumturquoise;
}

.cell.patrol {
  background-color: mediumvioletred;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: yellow;
}

.cell.open {
  cursor: pointer;
}

.cell.open:hover {
  background-color: #eee;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
}

.is-hidden {
  display: none!important;
}

.title {
  color: red;
}